body * {
   width: 100%;
   box-sizing: border-box;
}

body {
   margin: 0;
   
}

#m, #y{
   display: none;
}

.container {
   background: #F8EDEB;
   color: aliceblue;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.5fr 0.75fr 1fr 1fr 1fr;
   grid-template-areas:
      ". title title ."
      "L years years R"
      "jan feb mar apr"
      "may jun jul aug"
      "sep oct nov dec";
   min-height: 100vh;
   padding: 15px;
   grid-row-gap: 5px;
   grid-column-gap: 5px;
}

#welcome, #button, #month {
   display: flex;
   justify-content: center; 
   align-items: center;
   -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
}

#welcome {
   grid-area: title;
   text-align: center;
   font-size: x-large;
   text-decoration: none;
   background-color: #CB997E;
   color: aliceblue;
   font-weight: 300;
   font-family: 'Montserrat', sans-serif;
}

#button{
   font-size: 50px;
   font-style: normal;
   font-weight: 600;
   color: #ddbea9;
}

.left {
   grid-area: L;
}

.year-bar {
   grid-area: years;
   display: flex;
   justify-items: space-around; 
   align-items: center;
   flex-direction: row;
   background-color: #DDBEA9;
   font-family: 'Lato', sans-serif;
   font-size: x-large;
   font-weight: 900;
   color: black;
}

#prev:hover, #curr:hover, #next:hover {
   text-decoration: underline;
}

#prev, #curr, #next {
   text-align: center;
}

#prev, #next { 
   font-size: large;
}

#curr {
   font-size: larger;
}

.right {
   grid-area: R;
}

#month{
   font-size: xx-large;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   font-style: italic;

}

.jan {
   grid-area: jan;
   background-color: #EDDCD2;
   color: black;
}

.feb {
   grid-area: feb;
   background-color: #EDDCD2;
   color: black;
}

.mar {
   grid-area: mar;
   background-color: #EDDCD2;
   color: black;
}

.apr {
   grid-area: apr;
   background-color: #EDDCD2;
   color: black;
}

.may {
   grid-area: may;
   background-color: #EDDCD2;
   color: black;
}

.jun {
   grid-area: jun;
   background-color: #EDDCD2;
   color: black;
}

.jul {
   grid-area: jul;
   background-color: #EDDCD2;
   color: black;
}

.aug {
   grid-area: aug;
   background-color: #EDDCD2;
   color: black;
}

.sep {
   grid-area: sep;
   background-color: #EDDCD2;
   color: black;
}

.oct {
   grid-area: oct;
   background-color: #EDDCD2;
   color: black;
}

.nov {
   grid-area: nov;
   background-color: #EDDCD2;
   color: black;
}

.dec {
   grid-area: dec;
   background-color: #EDDCD2;
   color: black;
}

