body * {
   width: 100%;
   box-sizing: border-box;
}

body {
   margin: 0;
   background-color: bisque;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 2.5fr 0.8fr;
   grid-template-areas: 
   "A A . ."
   ". B B B"
   ". . C C"; 
   min-height: 100vh;
   padding: 50px;
   padding-top: 50px;
   /* padding-bottom: 100px; */
   grid-row-gap: 30px;
   grid-column-gap: 5px;
}

article, aside, section, main, section > div{
   display: flex;
   justify-content: center;
   align-items: center;
}

.welcome-title {
   grid-area: A;
   background-color: #DDBEA9;
   color: aliceblue;
   font-family: 'Montserrat', sans-serif;
}

.introduction {
   grid-area: B;
   background-color: #CB997E;
   color: aliceblue;
   padding-top: 20px;
   flex-direction: column;
   justify-content: space-between;
   font-family: 'Montserrat', sans-serif;
}

.to-coverpage {
   grid-area: C;
   background-color: #b7b7a4;
   color: aliceblue;
   box-shadow: 10px 5px 5px #6b705c;
   padding-left: 10px;
   font-family: 'Montserrat', sans-serif;
}

a.button {
   -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;

   text-decoration: none;
   color: initial;
}


#div-foot {
   text-align: right;
   padding-right: 10px;
   font-style: italic;
}